<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<form METHOD="get" th:action="@{/user}" th:object="${user}">

    <input type="hidden" th:field="*{id}" id="id">

    <label for="name">Name:</label>
    <input id="name" th:field="*{name}" type="text">
    <br><br>
    <label for="surname">Surname:</label>
    <input id="surname" th:field="*{surName}" type="text">
    <br><br>
    <label for="age">Age:</label>
    <input id="age" th:field="*{age}" type="text">
    <br><br>
    <label for="username">UserName</label>
    <input id="username" th:field="*{userName}" type="text">
    <br><br>
    <label>Is Active:</label>
    <input th:field="*{active}" type="radio" value="true"/>Yes
    <input th:field="*{active}" type="radio" value="false"/>No
    <br><br>
    <input type="button" th:value="Выйти" onclick="window.location.href = '/logout'">

</form>
</body>
</html>